{% extends 'PP5MovieUniverseBundle::base.html.twig' %}

{% block content %}
	{% if app.user %}
		<div align="center">
			<form method="POST">
				{{ form_start(form) }}
					{{ form_errors(form) }}
					{{ form_widget(form.reviewContent) }}<br>
					<input type="submit" value="Wyślij formularz!"/>
				{{ form_end(form) }}
			</form>	
		</div>
	{% elseif not app.user %}
		<div align="center">
			<h3>Bardzo nam przykro, lecz tylko zalogowani użytkownicy mogą dodawać recenzje.</h3>
		</div>
	{% endif %}

{% endblock %}

